<div class="activity-container">
    <section class="activity-overview">
    </section>

    <section class="contribution-activity">
        <h3 class="section-title">Contribution activity</h3>

        <div class="timeline-header">October 2025</div>

        <div class="timeline-item">
            <div class="activity-icon commits">
                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px"
                    fill="currentColor">
                    <path
                        d="M480-280q-73 0-127.5-45.5T284-440H80v-80h204q14-69 68.5-114.5T480-680q73 0 127.5 45.5T676-520h204v80H676q-14 69-68.5 114.5T480-280Zm0-80q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z" />
                </svg>
            </div>
            <p class="activity-summary-line">
                Created 56 commits in 11 repositories
            </p>
            <div class="alignment-icon">
                <svg fill="currentColor" width="16px" height="16px" viewBox="-4 0 19 19" xmlns="http://www.w3.org/2000/svg"
                    class="cf-icon-svg">
                    <path
                        d="M10.068 11.658a1.03 1.03 0 0 1 0 1.455l-3.84 3.84a1.029 1.029 0 0 1-1.456 0l-3.84-3.84a1.03 1.03 0 0 1 1.456-1.455L4.47 13.74V5.203L2.388 7.286A1.03 1.03 0 0 1 .932 5.83l3.84-3.84a1.029 1.029 0 0 1 1.456 0l3.84 3.84a1.03 1.03 0 0 1-1.456 1.456L6.529 5.203v8.538l2.083-2.083a1.03 1.03 0 0 1 1.456 0z" />
                </svg>
            </div>
        </div>

        <div class="timeline-item pull-requests-item">
            <div class="activity-icon pull-requests">
                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px"
                    fill="currentColor">
                    <path
                        d="m256-120-56-56 193-194q23-23 35-52t12-61v-204l-64 63-56-56 160-160 160 160-56 56-64-63v204q0 32 12 61t35 52l193 194-56 56-224-224-224 224Z" />
                </svg>
            </div>
            <div class="pr-details-container">
                <p class="activity-summary-line">
                    Opened 29 pull requests in 5 repositories
                </p>

                <div class="repo-activity-list">
                    <div class="repo-line">
                        <span>UptimeAI/uptime_webapp</span>
                        <div class="labels">
                            <span class="label count-merged">16 merged</span>
                            <span class="label count-open">1 open</span>
                        </div>
                    </div>
                    <div class="repo-line">
                        <span>UptimeAI/uptime_ml</span>
                        <div class="labels">
                            <span class="label count-merged">6 merged</span>
                        </div>
                    </div>
                    <div class="repo-line">
                        <span>UptimeAI/uptime_scripts</span>
                        <div class="labels">
                            <span class="label count-merged">4 merged</span>
                        </div>
                    </div>
                    <div class="repo-line">
                        <span>UptimeAI/uptime_engine</span>
                        <div class="labels">
                            <span class="label count-merged">1 merged</span>
                        </div>
                    </div>
                    <div class="repo-line">
                        <span>UptimeAI/uptime_ml_encrypted</span>
                        <div class="labels">
                            <span class="label count-merged">1 merged</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alignment-icon">
                <svg fill="currentColor" width="16px" height="16px" viewBox="-4 0 19 19" xmlns="http://www.w3.org/2000/svg"
                    class="cf-icon-svg">
                    <path
                        d="M10.068 11.658a1.03 1.03 0 0 1 0 1.455l-3.84 3.84a1.029 1.029 0 0 1-1.456 0l-3.84-3.84a1.03 1.03 0 0 1 1.456-1.455L4.47 13.74V5.203L2.388 7.286A1.03 1.03 0 0 1 .932 5.83l3.84-3.84a1.029 1.029 0 0 1 1.456 0l3.84 3.84a1.03 1.03 0 0 1-1.456 1.456L6.529 5.203v8.538l2.083-2.083a1.03 1.03 0 0 1 1.456 0z" />
                </svg>
            </div>
        </div>

        <button class="show-more-btn">Show more activity</button>

        <p class="final-link">
            Seeing something unexpected? Take a look at the <a
                href="https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/managing-contribution-settings/about-your-contributions-page"
                target="_blank">GitHub profile guide</a>.
        </p>
    </section>
</div>