<div class="profile-header">
    @if (user()) {
    <app-nav-tabs [username]="username" [repoCount]="user()!.public_repos"></app-nav-tabs>
    }
</div>

<div class="profile-page-container">
    @if (isLoading()) {
    <p class="loading-message">Loading profile...</p>
    } @else if (user()) {
    <div class="profile-main-content">

        <div class="profile-sidebar">
            <app-profile-card [user]="user()!"></app-profile-card>
        </div>

        <div class="profile-content">
            <router-outlet></router-outlet>
        </div>

    </div>
    }
</div>