<div class="repo-header">
    <h3 class="repo-name">
        <a [href]="'https://github.com/' + name + '/' + repo.name" target="_blank">{{ repo.name }}</a>
    </h3>
    <span class="repo-visibility">
        <span class="repo-public">Public</span>
    </span>
</div>
@if (repo.fork) {
<div class="repo-fork-info">
    Forked from
    <a class="repo-fork-name" [href]="'https://github.com/' + forkData?.parent?.full_name">
        {{ forkData?.parent?.full_name }}
    </a>
</div>
}
<p class="repo-description">{{ repo.description }}</p>
<div class="repo-meta">
    <div class="repo-language">
        @if(repo.language) {
        <span class="language-color" [style.backgroundColor]="getLanguageColor(repo.language)"></span>
        <span>{{ repo.language }}</span>
        }
    </div>

    <div class="repo-stats">
        @if (repo.stargazers_count > 0) {
        <span class="stat-item">⭐️ {{ repo.stargazers_count | number }}</span>
        }
        @if (repo.forks_count > 0) {
        <span class="stat-item">⑂ {{ repo.forks_count | number }}</span>
        }
    </div>
</div>